html {
  box-sizing: border-box;
}
body {
  margin: 3em;
  padding: 50px;
  padding-top: 10px;
  text-align: center;
  background-color: light gray;
}

h1{
  background-color: rgb(240, 149, 79);
  font-family: "Noto Sans Linear B", sans-serif;
  font-size: 40px;
  margin: -10px auto;
  padding: 5px ;
  border: 5px rgb(217, 173, 72) groove;
}
li {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: large;
  list-style: none;
  text-align: left;
}
button {
  width: 200px;
  display: flex;
  border: gray 5px;
  border-top: none;
  border-style: filled dashed;
  padding: 10px;
  margin: 10px;
  
}