html {
  box-sizing: border-box;
  background-color: rgb(238, 242, 177);
}

.heading {
  background-color: rgb(255, 210, 175);
  font-family: "Noto Sans Linear B", sans-serif;
  font-size: 40px;
  padding-left: 3em;
  margin: 20px 0px 20px -10px; 
  border: 5px silver groove;
  border-left: none;
  border-right: none;
}
.Recipe-menu {
  border: 5px black solid;
  margin: 10px;
  border-radius: 2em;
  line-height: 3em;
  font-size: 50px;
  padding-left: 10px;
  background-color: hsl(36, 66%, 58%);
}
